<div class="container-fluid">

  <header>
    <div class="nav-header">
      <nav class="navbar navbar-expand-lg">
        <div class="header container">
          <a class="navbar-brand" href="#"></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#"
                >Trang chủ<span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hoạt động</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#">Báo cáo</a>

              </li>
              <li class="nav-item">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Phân hệ nghiệp vụ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Danh mục</a>
                  <a class="dropdown-item" href="#">Quản trị người dùng</a>
                  <a class="dropdown-item" href="#">Đấu thầu điện tử</a>
                  <a class="dropdown-item" href="#">Tài liệu</a>
                  <a class="dropdown-item" href="#">Hợp đồng điện tử</a>
                  <a class="dropdown-item" href="#">Thanh toán điện tử</a>
                  <a class="dropdown-item" href="#">Hồ sơ năng lực</a>
                  <a class="dropdown-item" href="#">Bảo lãnh điện tử</a>
                  <a class="dropdown-item" href="#">Mua sắm điện tử</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- Navbar Start -->
  <div class="main">
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link" id="v-pills-1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Dự án</button>
        <button class="nav-link" id="v-pills-2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Bảng tổng hợp nhu cầu MSTT</button>
        <button class="nav-link active" id="v-pills-3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Kế hoạch lựa chọn nhà thầu</button>
        <button class="nav-link" id="v-pills-4-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Quy trình lựa chọn nhà thầu theo luật đấu thầu</button>
        <button class="nav-link" id="v-pills-5-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Quy trình lựa chọn nhà thầu theo vốn khác</button>
        <button class="nav-link" id="v-pills-6-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Quy trình lựa chọn nhà thầu theo vốn tài trợ ADB/WB</button>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
      </div>
    </div>
  <!-- Navbar End -->
  <div class="container-fluid main-table">
    <main class="tm-main">
      <div class="content">
        <div _ngcontent-dwq-c444="" class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap px-0 container-fluid">
          <div _ngcontent-dwq-c444="" class="d-flex align-items-center flex-wrap mr-1">
            <div _ngcontent-dwq-c444="" class="align-items-baseline flex-wrap mr-5">
              <ul _ngcontent-dwq-c444="" class="breadcrumb breadcrumb-transparent font-weight-bold p-0 mb-0 font-size-sm d-block">
                <li _ngcontent-dwq-c444="" routerlinkactive="active" class="breadcrumb-item d-inline-block ng-star-inserted active" ng-reflect-router-link-active="active">
                  <a _ngcontent-dwq-c444="" ng-reflect-router-link="" href="/contractorfe/" id="texthome"> Trang chủ </a>
                </li>
              </ul>
              <h2 _ngcontent-dwq-c444="" class="text-dark font-weight-bold mr-5">
                <span id="page-title-text"> Kế hoạch lựa chọn nhà thầu </span>
              </h2>
            </div>
          </div>
          <div _ngcontent-dwq-c444="" class="d-flex align-items-center">
                <button aria-haspopup="true" id="dropdownBidNotifyType" ngbdropdowntoggle="" class="dropdown-toggle egp-btn btn btn-sm btn-primary" aria-expanded="false">
                  Tạo mới KHLCNT <span class="caret"></span>
                </button>
            <ul class="dropdown-menu">
              <li><a href="#">Chi đầu tư phát triển</a></li>
              <li><a href="#">Chi thường xuyên</a></li>
              <li><a href="#">Chi khác</a></li>
            </ul>
        </div>
        </div>
      </div>
      <div>
        <div class="card card-custom border">
          <div class="header-action d-flex align-items-center justify-content-between flex-wrap flex-xl-nowrap">
            <div class="normal-search mr-1">
              <form class="d-flex form-search align-items-center flex-wrap flex-md-nowrap">
                <input type="text" class="form-control mr-2"
                       maxlength="12"
                >
                <input type="text" class="form-control mr-2"
                       maxlength="500"
                >
                <button class="btn btn-gray" type="submit">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn-search">Tìm kiếm</button>
                  </div>
                </button>
              </form>
            </div>
            <div class="advanced d-flex align-items-baseline flex-md-nowrap">
              <div ngbDropdown placement="bottom-right" class="SEARCH_FORM">
                <button class="btn btn-dashed text-primary" id="dropdownBasic2" type="button">
                  Search <span class="caret"></span>
                </button>
                <ul class="ACTION" data-(toggle)="ACTION">
                  <li><a href="#">{{ ACTION.btnExportAll}}</a></li>
                  <li><a href="#">{{ ACTION.btnExportSelected}}</a></li>
                </ul>
              </div>

              <div class="export-excel">
                <button ><img src="" alt=""> Xuất excel</button>
              </div>
<!--TIM KIEM NANG CAO ERROR -->
              <div for="dropdownBasic2" class="modal-special">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Tìm kiếm nâng cao</button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Tìm kiếm nâng cao</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="ma-name" class="col-form-label">Mã KHLCNT</label>
                              <input type="text" class="form-control" id="ma-name">
                            </div>
                            <div class="form-group">
                              <label for="ten-text" class="col-form-label">Tên KHLCNT</label>
                              <textarea class="form-control" id="ten-text"></textarea>
                            </div>
                            <div class="form-group">
                              <label for="gia-name" class="col-form-label">Tổng mức đầu tư/ giá dự toán</label>
                              <input type="text" class="form-control" id="gia-name">
                            </div>
                            <div class="form-group">
                              <label for="date-name" class="col-form-label">Ngày tạo</label>
                              <input type="text" class="form-control" id="date-name">
                            </div>
                            <div class="form-group">
                              <label for="trangthai-text" class="col-form-label">Trạng thái đăng tải</label>
                              <textarea class="form-control" id="trangthai-text"></textarea>
                            </div>
                            <div class="form-group">
                              <label for="type-text" class="col-form-label">Phân loại KHLCNT</label>
                              <textarea class="form-control" id="type-text"></textarea>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Làm mới</button>
                          <button type="button" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
          <div class="table-responsive">
              <!--các thẻ <td>-->
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Mã KHLCNT</th>
                  <th scope="col">Tên KHLCNT</th>
                  <th scope="col">Phân loại KHLCNT</th>
                  <th scope="col">Ngày tạo</th>
                  <th scope="col">Tổng mức đầu tư/ Giá dự toán</th>
                  <th scope="col">Trang thái</th>
                  <th scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let content of contents; index">
                  <td><mat-checkbox [formControl]="disabled" class="example-disabled-checkbox"></mat-checkbox>
                  </td>
                  <th scope="row">{{ content.planNo }}</th>
                  <td>{{ content.name }}</td>
                  <td>{{ content.planType }}</td>
                  <td>{{ content.createdDate }}</td>
                  <td>{{ content.createdBy }}</td>
                  <td>{{ content.investTotal }}</td>
                  <td>{{ content.approvalStatus }}</td>
                  <td>
                    <mat-icon matTooltip="Sửa" matTooltipPosition="above">edit</mat-icon>
<!--                    <mat-icon id="cloud_upload" [matTooltip]="'1231231'" matTooltipPosition="above">cloud_upload</mat-icon>-->
<!--                    <mat-icon [matTooltip]="'1231231'" matTooltipPosition="above">assignment_ind</mat-icon>-->
<!--                    <mat-icon  id="Delete" matTooltip="Hủy" >delete</mat-icon>-->

                  </td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
  </div>
</div>




